<!DOCTYPE html>
<html>
<head>
    <title>Historic Fed Rates</title>
</head>
<body>
    <h1>How did rates affect your Student Loan ReFi?</h1>
    <p>In general, it is best to refinance your loans before rates increase. This allows you to borrow funs at the lowest cost to a lender, passing the savings onto you!</p>
    <img src="{{ user_image }}" alt="User Image">
    <p> After plummeting since 1980, rates have recently skyrocketed! If you refi'd around 2008, you may have saved quite a bundle! </p>
    <p> Source: https://www.macrotrends.net/2015/fed-funds-rate-historical-chart </p>
</body>
</html>